* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
@font-face {
    font-family: 'gilroy-bold';
    src: url(./Font/Gilroy-Bold.ttf);
  }
.dashboard-container {
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    /* position: relative; */
}

.side-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background: #222222;
    flex-basis: 25%;
    width: 25%;
    position: fixed;
    left: 0;
    top: 0;
}
.dashboard-logo {
    display: flex;
    padding-top: 4rem;
}
.dashboard-logo img{
    max-width: 200px;
    margin-left: 2rem;
}
.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.navbar li{
    overflow: hidden;
    margin-bottom: .5rem;   
}
.navbar a {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    color: rgba(255, 255, 255, 0.7);
    overflow: hidden;

}
.navbar a.active-link {
    border-left: 4px solid #fff;
}
.navbar a .iconify {
    font-size: 24px;
}
.navbar a p {
    padding-left: .7rem;
    font-size: 16px;
}


.log-out {
    display: flex;
    margin-bottom: 2rem;
}
.log-out a {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 2rem;
    color: rgba(255, 255, 255, 0.7);
}
.log-out a .iconify {
    font-size: 24px;
}
.log-out a p {
    padding-left: .7rem;
    font-size: 16px;
}
.blackmarket-board {
    display: flex;
    flex-direction: column;
    flex-basis: 75%;
    margin-left: 25%;
}
.price-api {
    display: flex;
    flex-direction: column;
    margin: 4rem;
    margin-bottom: 2rem;
    /* margin-top: 4rem; */
}
.price-api header h3, 
.blackmarket-rate header h3{
    font-family: 'gilroy-medium';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
}
.prices {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    margin-top: 2rem;
}
.prices span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 120px;
    height: 65px;
    background: #F2F2F5;
    border-radius: 10px;
}
.prices span:nth-child(7) {
    max-width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 24px;
}
.prices span:nth-child(7) .iconify{
    font-size: 30px;
}
.prices span p {
    font-family: 'gilroy-medium';
    font-weight: 500;
    font-size: 20px;
    color: #3A3A3C;
}

.blackmarket-rate {
    margin: 0 4em;
}
.blackmarket-rate header {
    display: flex;
    justify-content: space-between;
}
.blackmarket-rate header h3 {
    align-self: flex-end;
}
.blackmarket-rate header button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 250px;
    height: 60px;
    background: #38A4FF;
    border: none;
    outline: none;
    color: #F2F2F5;
}
.blackmarket-rate header button .iconify {
    font-size: 24px;
    margin-right: 1rem;
}
.blackmarket-rate header button p {
    font-size: 18px;
}

.blackmarket-rate main {
    margin-top: 2rem;
}
.blackmarket-rate table {
    width: 100%;
}
.blackmarket-rate tr {
    align-items: center;
    padding: 0rem 2rem;
    /* background-color: #222222; */
}
.currency-container {
    display: flex;
    justify-content: center;
    padding: 0rem 0;
    align-items: center;
    /* min-width: 300px; */
}
.currency-container .iconify {
    font-size: 36px !important;
    color: #38A4FF;
    margin-right: 1.5rem;
}
.currency-container .currency {
    display: flex;
    flex-direction: row !important;
    align-items: center;
}
.currency img {
    margin-right: 1rem;
}
.blackmarket-rate  .table-header {
    height: 50px;
    padding: 1rem 2rem;
    background: #F2F2F5;
    border-radius: 5px;
    margin-bottom: 2rem;
}
.blackmarket-rate .table-header th{
    text-align: center;
}
.blackmarket-rate tr td {
    font-family: 'gilroy-medium';
    /* width: 100%; */
    width: 23%;
    align-items: center;
    text-align: center;
    padding: .5rem 0;
}
.blackmarket-rate tr td:nth-child(1) {
    width: 30%;
}
/* .blackmarket-rate-action {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 23%;
} */
.blackmarket-rate-action button {
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}
.blackmarket-rate-action button .iconify {
    font-size: 22px;
    color: #222222;
}
.blackmarket-rate-action .iconify.delete-action {
    color: red;
    margin-left: 2rem;
}

@media screen and (max-width: 968px) {
    .price-api {
        margin: 2rem;
    }
    .price-api header h3, 
    .blackmarket-rate header h3{
    font-size: 24px;
    }
    .prices span p {
        font-size: 14px;
    }
    .prices span:nth-child(7) {
        max-width: 35px;
        height: 35px;
        font-size: 20px;
    }
    .prices span:nth-child(7) .iconify{
        font-size: 20px;
    }
    .blackmarket-rate {
        margin: 0 2rem;
        margin-bottom: 2rem;
    }
    .blackmarket-rate button {
        width: 180px;
        height: 45px;
    }
    .blackmarket-rate button .iconify {
        font-size: 20px;
        margin-right: .5rem;
    } 
    .blackmarket-rate button p {
        font-size: 16px;
    }
    
}
.modal-container {
    display: flex;
    justify-content: center;
    background-color: #6161616c;
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0%;
    top: 0%;
}
.logout-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    margin: auto;
    width: 100%;
    max-width: 380px;
    height: 350px;
    padding: 2rem;
}
.logout-modal h5, 
.new-rate-header h5 {
    font-family: 'gilroy-medium';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 38px;
    text-align: center;
    color: #222222;
}
.logout-modal p {
    text-align: center;
    font-size: 16px;
    margin-top: 1rem;
}
.action-btn {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    column-gap: 1rem;
}
.action-btn button, 
.create-rate-btn button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'gilroy-regular';
    background-color: #38A4FF;
    border: 2px solid #38A4FF;
    border-radius: 10px;
    color: #fff;
    outline: none;
    font-size: 16px;
    width: 100%;
    min-width: 120px;
    height: 50px;
}
.action-btn button:nth-child(1), .action-btn button:hover {
    background: none;
    color: #38A4FF;
}
.action-btn button:nth-child(1):hover {
    background: #38A4FF;
    color: #fff;
}


.new-rate-modal {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    padding: 3rem 2rem;
    margin: auto;
    width: 100%;
    max-width: 600px;
    min-height: 450px;
}
.new-rate-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.close-modal-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #F2F2F2;
    border: none;
    outline: none;
}
.close-modal-btn .iconify {
    font-size: 24px;
    color: #222222;
}
.new-rate-modal form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.new-rate-modal form label {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    color: #3A3A3C;
    margin-bottom: .7rem;
}
.currency {
    display: flex;
    margin: 2rem 0;
    flex-direction: column;
}
.currency input, 
.buy-sell-price input {
    width: 100%;
    height: 50px;
    outline: none;
    background: #FAFAFC;
    border: 1px solid #C7C9D9;
    border-radius: 7px;
    padding: 0 10px;
}
select {
    width: 100%;
    height: 50px;
    outline: none;
    background: #FAFAFC;
    border: 1px solid #C7C9D9;
    border-radius: 7px;
    padding: 0 10px;
}
.buy-sell-price {
    display: flex;
    min-width: 100%;
    column-gap: 2rem;
}
.buy-sell-price span {
    flex-basis: 50%;
}
/* .buy-sell-price input {
    max-width: 100%;
    flex-basis: 50%;
} */
.buy-sell-price span {
    display: flex;
    flex-direction: column;
}
.create-rate-btn {
    margin-top: 2.5rem;
}
.create-rate-btn button {
    min-width: 100%;
    height: 60px;

}