@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&family=Roboto:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
@font-face {
    font-family: 'gilroy-bold';
    src: url(./Font/Gilroy-Bold.ttf);
  }
  @font-face {
    font-family: 'gilroy-regular';
    src: url(./Font/Gilroy-Regular.ttf);
  }
  @font-face {
    font-family: 'gilroy-medium';
    src: url(./Font/Gilroy-Medium.ttf);
  }
a {
    text-decoration: none;
}
button {
    cursor: pointer;
}
body {
    display: flex;
    flex-direction: column;
    font-family: 'gilroy-regular';
    font-size: 18px;
    background: #FBFAFA;
    color: #3A3A3C;
    width: 100%;
    height: 100%;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin: auto; */
    width: 100%;
    height: 100%;
    min-height: 100vh;
}
.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin:0 auto;
}
.sign-up-form span {
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-width: 900px;
    margin:0 auto;
    margin-bottom:1.5rem;
}
.sign-up-form span:nth-child(2) {
    margin-bottom: 1rem;
}
.sign-up-form span:nth-child(3) a{
    color:#38A4FF;
    display: flex;
    justify-content: flex-end;
}
.sign-up-form label {
    font-family: 'gilroy-medium';
    font-weight: 500;
    font-size: 24px;
    color: #3A3A3C;
}
.sign-up-form input {
    font-family: 'gilroy-regular';
    font-size: 18px;
    padding:  10px 1rem;
    height: 60px;
    margin-top: 1rem;
    border: 1px solid #C7C9D9;
    outline: none;
    border-radius: 10px;
}
.sign-up-form img {
    position: absolute;
    right: 4rem;
    top: 50%;
    transform: translateY(50%);
    width: 24px;

}
.sign-up-form button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 900px;
    height: 70px;
    font-size: 24px;
    background: #38A4FF;
    color: #FBFAFA;
    border-radius: 10px;
    border: none;
    outline: none;
}

.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 150px;
    padding: 4rem 80px;
    padding-bottom: 2rem;
    background: #222222;
}
.footer-container main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
}
.footer-logo {
    display: flex;
}
.footer-logo img {
    width: 100%;
    max-width: 150px;
}
.footer-links {
    display: flex;
    align-items: center;
}
.footer-links li {
    margin-left: 1rem;
}
.footer-links a {
    font-size: 16px;
    color: #FBFAFA;
}

.sm-links {
    display: flex;
    justify-content: center;
}
.sm-links a {
    display: flex;
    justify-content: center;
    min-width: 40px;
    height: 40px;
    align-items: center;
    margin-left: .5rem;
    background: #111111;
    border-radius: 50%;
}
.sm-links .iconify {
    font-size: 18px;
    color: #FBFAFA;
}
.footer-container small {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 2rem;
}
@media screen and (max-width: 768px) {
    .login-container {
        padding: 1rem;
    }
    .logo img {
        max-width: 180px;
    }
    .sign-up-form {
        justify-content: space-between;
    }
    .sign-up-form input {
        height: 50px;
    }
    .sign-up-form img {
        right: 1rem;
        top: 50%;
        transform: translateY(50%);
    }
    .sign-up-form button{
        height: 60px;
    }
    .footer-container main {
        flex-direction: column;
        row-gap: 2rem;
    }
    .footer-container small {
        font-family: 'gilroy-bold';
        /* font-weight: 600; */
        margin-top: 4rem;
    }
}