@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel:wght@600;700;800&family=Francois+One&family=Inter:wght@400;500;600;700&family=Outfit:wght@500;600&family=Poppins:wght@400;500;600;700&family=Space+Grotesk:wght@400;500;600;700&family=Spline+Sans+Mono:wght@400;500;600;700&family=Titillium+Web:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@300;400;700&display=swap');

@font-face {
    font-family: 'tt-commons-bold';
    src: url(./fonts/TT\ Commons\ Bold.otf);
}
@font-face {
    font-family: 'tt-commons-medium';
    src: url(./fonts/TT\ Commons\ Medium.otf);
}
@font-face {
  font-family: 'tt-commons-regular';
  src: url(./fonts/TT\ Commons\ Regular.otf);
}
@font-face {
  font-family: 'tt-commons-light';
  src: url(./fonts/TT\ Commons\ Light.otf);
}
@font-face {
  font-family: 'gilroy-regular';
  src: url(./fonts/Gilroy-Regular.ttf);
}
@font-face {
  font-family: 'gilroy-medium';
  src: url(./fonts/Gilroy-Medium.ttf);
}
@font-face {
  font-family: 'gilroy-bold';
  src: url(./fonts/Gilroy-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
ul {
    list-style: none;
    text-decoration: none;
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
}

body {
    display: flex;
    flex-direction: column;
    background: #fff;

    font-family: 'gilroy-regular';
    font-size: 16px;
    color: #1a1a1a;   
}